<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card text-center">
        <div class="row g-0">
            <!-- Image Section (Left) -->
            <div class="col-md-4">
                <img src="~/images/404_image.png" class="img-fluid rounded-start" alt="404 Error">
            </div>
            <!-- Text Section (Right) -->
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">404 Error</h1>
                    <p class="card-text">Oops! The page you are looking for does not exist.</p>
                    <p class="card-text">It might have been moved or deleted.</p>
                    <a href="/Home" class="btn btn-primary">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
